<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="https://as01.epimg.net/img/comunes/fotos/fichas/equipos/large/67.png"
        alt=""
        class="tumbnail rounded-circle width:200px"
      />
      <h1 class="display-4">Rivanldy Rahman</h1>
      <p class="lead">Web ini dibuat untuk coba backend</p>
    </div>
  </div>
</div>
